/* 
body {
    width: 100%;
    line-height: 1;
}
#buttom-section{
    width: 100%;
}*/
#head-1{
    display: inline;
}
header {
    padding: 20px;
    display: block;
    border-bottom: 2px solid black;
}

#head-1 img {
    width: 8%;
    position: relative;
    left: 60px;
    top: 3px;
}
#head-1 h1 {
    width: 48%;
    position: absolute;
    font-size: 45px;
    left: 235px;
    top: 41px;
    color: blueviolet;
}
div#image-section {
    display: block;
    
}
section#image-section {
    float: right;
    width: 100%;
}
section#image-section img {
    float: right;
    width: 330px;
    height: 330px;
    padding: 11px;
    border: 2px solid red;
}
section#buttom-section {
    display: block;
    float: left;
    border: 2px solid green;
    width: 277px;
    height: 537px;
    position: absolute;
}
button {
    position: absolute;
    width: 52%;
    height: 59px;
    font-size: 25px;
    margin-top: 18px;
    left: 60px;
}
ul {
    display: block;
    position: relative;
    list-style: inside;
    top: 85px;
    font-size: 15px;
}
p#para {
    display: block;
    float: right;
    border: 2px solid red;
    width: 74%;
    margin-top: 43px;
    font-size: 24px;
    padding: 33px;
    margin-bottom: 61px;
}
element.style {
    display: block;
    width: 1306px;
    height: 496px;
    
}
